* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

.banner {
  width: 100%;
  max-height: 15em;
  margin: auto;
  display: block;
  position: relative;
  margin-bottom: 1rem;

}

.brand-logo {
  position: absolute;
  border-radius: 50%;
  left: 20%;
  top: 23%;

}

.header {

}

body {
  margin: 0;
}

.app-content {

}

.row {
  text-align: left;
  margin-top: 5%;
}

.sidebar {
  width: 20%;
  background: green;
  left: 30%;
  margin-top: 15%;
  float: left;

}

.search {
  text-align: center;
  margin: auto;
}

.article {
  max-width: 55%;
  background: red;
  float: left;
  margin-left: 5%;
}

.authors {
  font-style: italic;
}
